
.productGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}


@media (min-width: 640px) {
    .productGrid {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1024px) {
    .productGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

