/* Generellt: */

ul {
    color: black;
    list-style: none;
}



.header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-content img {
    width: 100%;
    padding: 10px;
}
.header-content > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* Ikonlänkarna. Sätter färg till förälderns, sätter lite
mellanrum mellan dom och tar bort understrecket. */
.header-icons{
    display: flex;
    flex-direction: row;
    padding-right: 20px;

}
.header-icons a {
    color: inherit;
    margin: 10px;
    text-decoration: none;
}

/* Ikonbilderna */
.header-icons i {
    font-size: 2rem;
}

.search-bar {
    position: relative;
    margin: 20px;
    width: 100%;
}

.search-bar input {
    padding: 8px 12px;
    padding-left: 40px; /* Utrymme för ikonen till vänster */
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1rem;
    width: 100%;

}

.search-bar .bi-search{
    position: absolute;
    left: 10px; /* Placera ikonen 10px från vänsterkanten */
    top: 50%;
    transform: translateY(-50%); /* Vertikal centrering av ikonen */
    width: 20px;
    height: 25px;
    pointer-events: none; /* Förhindra att ikonen är klickbar */
}

.nav-links{
    display: flex;
    flex-direction: column;
}

 .nav-links a, .nav-links ul {
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
}
.nav-links a:hover {
    text-decoration: underline;
}

.search-info {
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {
    .nav-links {
        flex-direction: row;
     }
     .nav-links a, .nav-links ul {
        margin-right: 10px;
        font-size: 1rem;
        padding: 10px;
     }
     .header-content {
        flex-direction: row;
    }
    .header-icons i {
        font-size: 1.5rem;
    }
    .search-bar input {
        font-size: 0.8rem;
        max-width: 390px;
    }


}