.productList {
  border: solid black 2px;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  border-collapse: collapse;
}

.productList thead {
  background-color: rgb(168, 168, 168);
}

.productList thead th {
  border: solid black 2px;
}

.productList tbody td {
  border-right: solid black 2px;
}

.productList tbody tr:nth-child(odd) {
  background-color: lightgray;
}

/* TODO funkar bra men ful */
.productList tbody tr:hover {
    outline: rgb(230, 164, 23) solid 2px;
}

.productList td:nth-child(4) {
  text-align: center;
  font-size: 1.3rem;
}

.trashIcon {
  padding-top: 4px;
}

.trashIcon:hover {
  cursor: pointer;
}
